<header>
  <app-header></app-header>
</header>
<section class="m-5 p-5 row flex-column align-items-center">
  <div class="form-field col-auto">
    <input
      [type]="showPassword ? 'text' : 'password'"
      placeholder="Enter the password..."
      [(ngModel)]="password"
    />
    <button mat-icon-button class="icon" (click)="showPassword = !showPassword">
      <mat-icon>{{ showPassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </div>
  <div class="form-field col-auto">
    <input
      [type]="showConfirmPassword ? 'text' : 'password'"
      placeholder="Re-enter the password..."
      [(ngModel)]="confirmPassword"
    />
    <button
      mat-icon-button
      class="icon"
      (click)="showConfirmPassword = !showConfirmPassword"
    >
      <mat-icon>{{
        showConfirmPassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
  </div>
  <div class="form-field col-auto">
    <button mat-raised-button (click)="resetPassword()">Reset Password</button>
  </div>
</section>
