.form-field {
  margin: 15px;
  position: relative;
}

.form-field input {
  padding: 0px 15px;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 5px inset silver,
    1px 1px 2px silver;
}

.form-field .icon {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #000;
}
