p[matDialogTitle] {
  font-family: 'Varela Round',
    sans-serif;
}

.profile-pic {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border: 2px outset silver;
  border-radius: 125px;
  transition: all 200ms;
}

.profile-unchanged:hover {
  filter: brightness(0.4) blur(1px);
  box-shadow: 0px 0px 20px silver;
}

.profile-cover {
  width: 100%;
  height: fit-content;
}

.form-field {
  margin: 15px;
  position: relative;
}

.form-field input {
  margin: 10px 0;
  padding: 0px 15px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 5px inset silver,
    1px 1px 2px silver;
}

.form-field .icon {
  position: absolute;
  top: 15px;
  right: 5px;
}


.male {
  box-shadow: none;
  background-color: rgba(0, 183, 255, 0.7);
}

.female {
  box-shadow: none;
  background-color: rgba(204, 0, 255, 0.7);
}

.gender-selected {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
